name: Publish

on:
  release:
    types: [released]

permissions:
  id-token: write  # Required for OIDC to deploy to npmjs via Trusted Publisher

jobs:
  publish:
    name: Upload archives
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Build
        run: |
          yarn
          yarn prepare

      - name: Setup node for publishing
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Publish to npm
        run: npm publish
